@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  font-family: 'Google Sans', sans-serif;
}

body {
  background-color: #ecf6ff;
  margin: 0px;  
  padding: 0px;
}

.grid {
  display: flex;
}

.grid-card {
  position: relative; 
  flex: 1 1 100%;
  background-color: rgba(65, 105, 225, 0.1);
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid royalblue;
  padding: 16px !important;
  margin: 4px;
}

