@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  font-family: 'Google Sans', sans-serif;
}

body {
  background-color: #ecf6ff;
  padding: 8px;
}

.grid-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #bfc6ca1f;
  padding: 16px;
}

